body {
  background: transparent;
  overflow: hidden;
}

#track {
  position: relative;
  width: 100%;
  height: 300px;
  background: #2ecc71;
}

.cat {
  position: absolute;
  left: 0;
  width: 80px;
  transition: left 0.2s linear;
}

#cat1 { top: 50px; }
#cat2 { top: 150px; }
